@font-face {
  font-family: "Nerko One";
  src: url("../assets/fonts/NerkoOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Concert One';
  src: url("../assets/fonts/ConcertOne-Regular.ttf") format("truetype");
}


