@import '../../styles/abstracts/mixins.scss';
@import '../../styles/abstracts/variables.scss';

.controls {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  @media screen and (max-width: 768px) {
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
  }
}

.change {
  @include container(column, center);
  @include button(5px, 5px, 5px, 5px);
  min-width: 25px;
  background-image: url('../../assets/icons/mountains.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: $indent;
  opacity: 1;
  &:hover {
    .refresh {
      animation: 1s linear 0s normal none infinite running rot;
      -webkit-animation: 1s linear 0s normal none infinite running rot;
    }
  }
}

.refresh {
  width: 50%;
  height: auto;
}

.lang {
  @include button(5px, 5px, 5px, 5px);
  width: 5.5vw;
  min-width: 55px;
  margin-right: $indent;
  padding-left: 10px;
}

.sub-controls {
  @include container(row, center);
}

.farengate {
  @include button(5px, 0, 0, 5px);
  height: 100%;
  min-width: 25px;
}

.celsius {
  @include button(0, 5px, 5px, 0);
  height: 100%;
  min-width: 25px;
}

.inactive {
  transition: 0.8s;
  opacity: 0.4;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
