@import "../../styles/abstracts/variables.scss";

.location-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.map-wrapper {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: default;
}

.map {
  border-radius: 10px;
}

.coords {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.coords__item {
  background-color: $buttonCOlor;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
}
