@import '../abstracts/mixins.scss'; 
@import '../abstracts/variables.scss';

.section {
  @include container(column, center);
  justify-content: space-between;
  width: 40%;
  height: 100%;
  flex: 1;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 25px;
  }
}
